.main-wrap
    section.content
        ul.items
          li.wrap.teasers.eyecandy(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
      section.colorframe
        dl.content.featured-tags
          dt Wichtige Themen
          dd
            a(href='tag.html') Portmonee
          dd
            a(href='tag.html') Gewinnspiele
          dd
            a(href='tag.html') Soziales
          dd
            a(href='tag.html') Locations
          dd
            a(href='tag.html') Songtexte
          dd
            a(href='tag.html') Music
          dd
            a(href='tag.html') Fair &amp; gut
          dd
            a(href='tag.html') Lokale Wirtschaft
          dd
            a(href='tag.html') Vodka
          dd
            a(href='tag.html') Reportagen
          dd
            a(href='tag.html') Protrait
          dd
            a(href='tag.html') Bildstrecken
          dd
            a(href='tag.html') Stilvolles
          dd
            a(href='tag.html') Video
          dd
            a(href='tag.html') Claim ipsum
          dd
            a(href='tag.html') Lebensgeschichte
          dd
            a(href='tag.html') Nachhaltigkeit
          dd.more
            a(href='more.html') mehr &mldr;
      section.content
        ul.items
          li.wrap.teasers.colored(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.colored(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.colored(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.colored(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
        h2.hangin
          | Feature
        ul.items.bigborder
          li.wrap.teasers.bigborder(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.bigborder(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.bigborder(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
          li.wrap.teasers.bigborder(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            article
              h2
                a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?') Wer oder was ist Paprcuts?
              a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
              ul.social
                li.twitter
                  a.fa.fa-twitter(href='https://twitter.com/share?text=%40kuul_io%20ist%20das%20GEILSTE&url=http://kuul.io<?=base_url() . current_url()?>')
                li.facebook
                  a.fa.fa-facebook(href='//www.facebook.com/sharer.php?u=http://kuul.io<?=base_url() . current_url()?>&t=Kuuulio')
                li
                  a.wa_btn.wa_btn_s.fa.fa-whatsapp(href='whatsapp://send', data-text='Schau Dir das an:', data-href='//kuul.io<?=base_url() . current_url()?>', style='display:none') Whatsapp
        
        ul.items.mosaic
          li
            h2.hangin.mosaic Feature
          li.wrap.teasers.mosaic(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
              article
                h2
                  | Wer oder was ist Paprcuts und wo kommen sie her?
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
          li.wrap.teasers.mosaic(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
              article
                h2
                  | Wer oder was ist Paprcuts?
          li.wrap.teasers.mosaic(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
              article
                h2
                  | Wer oder was ist Paprcuts ?
                big Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.
          li.wrap.teasers.mosaic(style='background-image: url(http://kuul.io/test/content/_DSC7321.jpg);')
            a(href='/test/posts/wer-oder-was-ist-paprcuts', title='Wer oder was ist Paprcuts?')
              article
                h2
                  | Wer oder was ist Paprcuts und wo kommen sie her?
                big
                  | Paprcuts sind Accessoires aus reiß- und wasserfestem Papier. Paprcuts sind Accessoires aus reiß- und wasserfestem Papier.