header#top
	h2#logo
		a(href='//kuul.io/test/')
			strong kuul.io
			img(src='//kuul.io/test/themes/default/img/logo.png', alt='kuul.io')
		h3.social
			a.fa.fa-facebook(href='https://www.facebook.com/kuul.io', title='kuul.io auf Facebook')
			a.fa.fa-instagram(href='https://instagram.com/kuul.io/', title='kuul.io auf Instagram')
			a.fa.fa-twitter(href='https://twitter.com/kuul_io', title='kuul.io auf Twitter')
			a.fa.fa-pinterest(href='https://www.pinterest.com/kuul_io/', title='kuul.io auf Pinterest')